.card-container-odd{
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 300px;
    width: 100%;
    /* border: 1px solid red; */
    border-bottom: 2px solid rgb(225, 91, 225, 50%);
    margin-bottom: 20px;
    margin-left: 20%;
}

.card-image-odd{
    height: 95%;
    max-width: 300px;
    object-fit: cover;
}

.card-desc-odd{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.card-footer-odd{
    display: flex;
}

.card-index-odd{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-index-odd{
    font-size: 120px;
}

/* =============================================== */
/* Even */

.card-container-even{
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 300px;
    width: 100%;
    /* border: 1px solid red; */
    border-bottom: 2px solid rgb(225, 91, 225, 50%);
    z-index: 1;
    margin-bottom: 20px;
    margin-right: 20%;
}

.card-image-even{
    height: 95%;
    max-width: 300px;
    object-fit: cover;
}

.card-desc-even{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
}

.card-footer-even{
    display: flex;
}

.card-index-even{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-index-even{
    font-size: 120px;
}



@media (max-width: 800px) {
    .card-image-odd{
        height: 50%;
        max-width: 150px;
    }
    .card-container-odd{
        margin-left: 3%;
        width: 100%;
        height: auto;
    } 
    .card-footer-odd{
        margin-left: -90%;
    }



    .card-container-even{
        margin-right: 3%;
        width: 100%;
    }
    .card-image-even{
        height: 50%;
        max-width: 150px;
    }
    .card-footer-even{
        margin-right: -90%;
    }
}