.detailproject-container{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    transition: ease-in-out;
}

.detailproject-desc{
    text-align: justify;
    text-justify: inter-word;
}


.detailproject-image-btm{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.detailproject-image{
    object-fit: cover;
}
.thumbnail{
    height: 400px;
    width: 600px;
}
.images{
    height: 200px;
    width: 300px;
}


@media (max-Width: 800px) {
    .detailproject-container{
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 3%;
    }
    .thumbnail{
        width: 95%;
    }
    .images{
        height: 100px;
        width: 150px;
    }
    .detailproject-image-btm{
        display: flex;
        flex-direction: row;
    }
}