.uploadimage-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.uploadimage-view-container{
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.uploadimage-view-image{
    max-width: 100px;
    min-height: 100px;
    max-height: fit-content;
}