.footernav-container{
    min-height: 8vh;
    height: auto;
    background-color: rgb(38, 38, 38);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footernav-media-social{
    display: flex;
}
.fnav{
    margin-right: 10px;
    display: flex;
}

.footernav-copyright{
    display: flex;
    align-items: center;
}

.footernav-copyright-year{
    margin-left: 10px;
    margin-top: 13.5px
}

